{{>admin_header}}

<section class="mt-10 p-4 px-6 min-h-screen">
    <div class="text-center">
        <a href="/admin/article/add-article" class=""><button
                class="px-5 w-full md:w-48 py-2 bg-blue-500 text-white rounded text-center">New Article + </button></a>
    </div>

    <div dir="ltr" class="md:w-3/4 items-center p-5 w-full mx-auto flex gap-2 py-3">
        <div>
            <i class="fa-solid fa-filter"></i>
        </div>
        <select dir="ltr" name="" id="filterByCategoryOptions"
            class="ltr-select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-fit p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option class="categorySelect" value="All category">All category</option>
            {{#each categories}}
            <option class="categorySelect" value="{{this.trimmed}}">{{this.category_arabic}}</option>
            {{/each}}
        </select>

        {{!-- <select name="" id="">
            <option value="Opton">Sort</option>
            <option value="option"></option>
            <option value="option"></option>
        </select> --}}
    </div>

    <div id="articles" class="md:w-3/4 grid grid-cols-3 w-full gap-3 mx-auto">
        {{#each articles}}
        <div class="flex flex-col h-full bg-white p-5">
            <div class="h-36 md:flex hidden">
                <img src="/static/article-images/{{this._id}}.jpg" class="object-cover">
            </div>

            <div class="flex-1 p-2">
                <p class="capitalize tracking-wide text-blue-500 mb-2">{{this.date}}</p>
                <a href="/admin/article/{{this._id}}">
                    <h2 class="text-xl font-bold">{{this.topic}}</h2>
                </a>
                <p class="font-bold text-gray-600">{{this.author}}</p>
            </div>
            <div class="w-full">


                <a href="/admin/article/edit/{{this._id}}" class="w-full "><button
                        class="px-5 mt-2 w-full py-2 bg-blue-500 text-white rounded text-center">Edit</button></a>
                <a data-id="{{this._id}}" data-type="article" class="w-full deleteBtn"><button
                        class="px-5 mt-2 w-full py-2 bg-red-500 text-white rounded text-center">Delete</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</section>