{{>admin_header}}

<div class="w-3/4 grid grid-cols-1 mx-auto lg:mt-12 mb-10 border-2 border-gray-200 p-8">
    <div class="grid grid-cols-1 space-y-6">
        <p class="text-gray-400 text-3xl font-bold text-center border-b pb-2">Edit news</p>
        <form id="edit_review" action="/admin/news/edit/{{news._id}}" enctype="multipart/form-data" class="grid lg:grid-cols-2 grid-cols-1 gap-3" method="POST"> 
            <div class="grid grid-cols-1 space-y-2">
                <label for="news_title" class="font-bold text-lg text-gray-500">Title</label>
                <input type="text" id="news_title" value="{{news.title}}" name="title" placeholder="Title" class="text-gray-700 p-2 border bg-white rounded border-gray-300 focus:outline-none focus:bg-blue-100">
            </div>
            <div class="grid grid-cols-1 col-span-2 space-y-2">
                <label for="news_content" class="font-bold text-lg text-gray-500">Content</label>
                <textarea type="text" class="p-2" id="markdown-editor" name="news_content" placeholder="Content" class="h-96 text-gray-700 p-2 border bg-white rounded border-gray-300 focus:outline-none focus:bg-blue-100">{{news.news_content}}</textarea>
            </div>
            <div class="grid grid-cols-1 space-y-2">
                <label for="news_image" class="font-bold text-lg text-gray-500">Upload Image</label>
                <img class="w-32" src="/static/news-images/{{news._id}}.jpg">
                <input type="file" id="news_image" name="image" placeholder="Image" class="text-gray-700 p-2 border bg-white rounded border-gray-300 focus:outline-none focus:bg-blue-100">
                
            </div>
             <input type="hidden" name="_csrf" value="{{csrfToken}}">   
            <button type="submit" class="p-2 rounded-lg bg-purple-900 text-white w-1/4 hover:bg-purple-700 justify-self-end col-span-2 mt-3">Save</button>
        </form>
    </div>
</div>
    