{{>user_header}}

<section class="p-4 px-6">
    <div class="lg:w-3/4 w-full p-4 mx-auto">
        <div>
            <p class="text-2xl font-bold text-center mb-8 capitalize border-b-2 pb-4 border-gray-300">
                {{#if isEmpty}}
                {{category}}
                {{else}}
                {{allArticle.0.category}}
                {{/if}}
            </p>
        </div>
        <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 grid-cols-1">
            {{#if isEmpty}}
            <p class="text-2xl font-bold text-center mb-8 capitalize text-center">
                No articles in this category
            </p>
            {{/if}}
        {{#each allArticle}}
            <div class="grid grid-cols-1 m-3 bg-white">
                <div class="border-b-2 border-opacity-25 border-gray-300">
                    <img src="/static/article-images/{{this._id}}.jpg" class="h-48 w-full lg:h-100 md:h-100 sm:h-100 object-cover">
                </div>
                <div class="p-5">
                 
                    <a href="/{{this._id}}"><h2 class="text-xl font-bold mb-2">{{this.topic}}</h2></a>
                    <small class="font-bold text-gray-600">{{this.author}}</small>
                </div>
                
            </div>
        {{/each}}
        </div>
    </div>
</section>