{{>user_header}}

<section class="w-full lg:px-32 md:px-12 p-4 mt-1 border-t pt-8 mb-12 mx-auto">
    <div class="grid md:grid-cols-1 lg:grid-cols-3 sm:grid-cols-1 grid-cols-1  gap-4" style="font-family: ge-medium;">
        <div class="col-span-2 max-w-[670px]">
            <!--ARTICLE -->
            <div class="mb-6 px-6">
                <h1 class="text-4xl md:text-5xl mb-12 font-bold">{{article.topic}}</h1>
                <div class="w-100 h-72">
                    <img class="h-72 rounded-xl object-cover w-full" src="/static/article-images/{{article._id}}.jpg">
                </div>
                <!--<p class="capitalize tracking-wide text-blue-500 mt-10">{{article.category}}</p>-->
                <div class="flex mb-4 items-center mt-10">
                    <p class="font-md font-bold text-gray-600">{{article.author}}</p>
                
                </div>
                <div class="break-words text-lg text-gray-500 text-justify">{{{article.markdown}}}</div>
            </div>
            <!--ARTICLE END -->
            
    </div>
</section>