{{>user_header}}

<section class="md:px-12 px-4 mt-20 mb-12 w-100 md:w-100 lg:w-3/4 mx-auto">
    <div class="grid md:grid-cols-1 lg:grid-cols-4 sm:grid-cols-1 grid-cols-1  gap-4">
        <div class="col-span-3 ">
            <!--ARTICLE -->
            <div class="mb-6 px-6">
                <h1 class="text-3xl mb-6 font-bold">{{article.topic}}</h1>
                <div class="w-100 h-72">
                    <img class="h-72 rounded-xl object-cover w-full" src="/static/article-images/{{article._id}}.jpg">
                </div>
                <p class="capitalize tracking-wide text-blue-500 mt-4">{{article.catagory}}</p>
                <div class="flex mb-4 items-center">
                    <p class="font-md font-bold text-gray-600">{{article.author}}</p>
                
                </div>
                <div class="break-words text-gray-500">{{{article.markdown}}}</div>
            </div>
            <!--ARTICLE END -->
            
    </div>
</section>